/* Root elements */
html {
  font-size: 16px;
}

body {
  background-color: #fdfdfd;
  color: #141414;
  margin: 0;
  padding: 0;
}

/* Main div */
/* Hero div */
.hero {
  padding: 6rem 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../assets/img/credit_markus_wrinkler_unsplash.jpg");
  background-size: 100%;
}

.hero-group {
  width: 100%;
  max-width: 70rem;
  padding: 2rem 0;
  flex: 0 0 auto;
  background-color: #fdfdfd;
}

.hero-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-copy h1 {
  font-size: 4rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.hero-copy p {
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.cta {
  display: flex;
}

.cta input {
  width: 20rem;
  margin-right: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: solid;
  border-width: 2px;
  border-color: #f1f1f1;
  align-items: center;
  border-radius: 1rem;
}

.cta input:focus {
  outline: none;
  border-color: #003399;
  border-width: 1.5px;
}

.cta button {
  background-color: #003399;
  color: #fdfdfd;
  width: 10rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: solid;
  border-color: #003399;
  border-width: 2px;
  align-items: center;
  border-radius: 1rem;
}

/* Personal div */
.personal {
  padding: 3rem 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.personal-box {
  display: block;
  width: 70rem;
  border: solid;
  border-width: 2px;
  border-color: #f1f1f1;
}

.personal-text {
  align-items: center;
  margin: 3rem;
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
}

.personal-bio {
  display: flex;
  flex-direction: row;
}
.personal-img img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 20px;
}

.personal-details {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.personal-details p {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
}
